html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary-button-align > button:first-child {
  position: relative;
  right: 8px;
  width: 150px;
}

.primary-button-align > button:last-child {
  position: relative;
  left: 8px;
  width: 150px;
}

input[type="text"] {
  width: 150px;
}